@model WebApp_Manha.Entidades.Categoria

<form action="/Categorias/SalvarDados" method="post" >
<input name="Nome" type="text" class="form-control" />
@*<input type="checkbox" checked name="Ativo" />*@

<select name="Ativo" class="form-control">
        <option value="true">Ativada</option>
        <option value="false">Desativada</option>
</select>

<button type="submit" class="btn btn-success">
    salvar
</button>

</form>
