@model WebApp_Manha.Entidades.Categoria

<form action="/Categorias/SalvarDados" method="post" >
<input name="Nome" type="text" />
<input type="checkbox" checked name="Ativo" />
<button type="submit">
    salvar
</button>

</form>
