@model WebApp_Manha.Entidades.PermissaoEntidade

<form action="/Permissao/SalvarDados" method="post">
    
    <input type="text" name="Descricao" />
    
    <br />

    <button type="submit">
        Salvar
    </button>


</form>