<div class="card">
    <div class="card-header">
        Tabela do sistema
    </div>

    <div class="card-body">

        <ol class="list-group">

            <li class="list-group-item">Itens da lista</li>
            <li class="list-group-item">Itens da lista</li>
            <li class="list-group-item">Itens da lista</li>
            <li class="list-group-item">Itens da lista</li>

        </ol>

    </div>
</div>